<section id="about">
    <div class="container-fluid">
        <div class="row">
                
            <div class="banner"><h2>About Us</h2></div>
        </div>
    </div>
    <div class="container">
        <div class="box-header">
            <div class="row justify-content-center">
                <div class="col-md-7 display">
                    <h3>WE ARE GIVITEC</h3>
                    <p>
                        GIVITEC LTD is an IT  services and electronics installations
                        contracts company.
                    </p>
                    <p>
                        The company also has a Vocational Training Institute, Real Estate
                        practice and a JAMB Accredited CBT Centre. GIVITEC LTD is the business
                        arm of GIMOX INSTITUTE FOR VOCATIONS AND INFORMATION TECHNOLOGY aka
                            GIVITEC INSTITUTE which was established on october 8, 2017 in Benin City. 
                    </p>
                </div>
                <div class="col-md-5">
                    <div class="after-about">
                            <h3>WE ARE GIVITEC</h3>
                            <p>
                                GIVITEC LTD is an IT  services and electronics installations
                                contracts company.
                            </p>
                            <p>
                                The company also has a Vocational Training Institute, Real Estate
                                practice and a JAMB Accredited CBT Centre. GIVITEC LTD is the business
                                arm of GIMOX INSTITUTE FOR VOCATIONS AND INFORMATION TECHNOLOGY aka
                                    GIVITEC INSTITUTE which was established on october 8, 2017 in Benin City. 
                            </p>
        
                    </div>
                    <div class="img"></div>
                </div>
            </div>
        </div>
        <div class="choose">
            <div class="row">
                <div class="col-md-6">
                    <h2>Why Choose Us</h2>
                </div>
                <div class="col-md-6">
                    <img src="../../assets/about-givitec.svg" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="givitec-family">
        <h3 class="container">Meet The GIVITEC Family</h3>
    </div>
    <div class="team">
        <owl-carousel [options]="teamOptions" class="sliding owl-theme">
            <div class="item">
                <figure>
                    <a href="#"><img src="../../assets/aboutpic.svg" class="img-fluid" alt=""></a>

                </figure>
                <div class="wrapper">
                    <small>Classroom</small>
                    <h3>Junior Secondary</h3>
                </div> 
            </div>
            <div class="item">
                <figure>
                    <a href="#"><img src="../../assets/aboutpic.svg" class="img-fluid" alt=""></a>

                </figure>
                <div class="wrapper">
                    <small>Classroom</small>
                    <h3>Junior Secondary</h3>
                </div> 
            </div>
            <div class="item">
                <figure>
                    <a href="#"><img src="../../assets/aboutpic.svg" class="img-fluid" alt=""></a>

                </figure>
                <div class="wrapper">
                    <small>Classroom</small>
                    <h3>Junior Secondary</h3>
                </div> 
            </div>
            <div class="item">
                <figure>
                    <a href="#"><img src="../../assets/aboutpic.svg" class="img-fluid" alt=""></a>

                </figure>
                <div class="wrapper">
                    <small>Classroom</small>
                    <h3>Junior Secondary</h3>
                </div> 
            </div>
            <div class="item">
                <figure>
                    <a href="#"><img src="../../assets/aboutpic.svg" class="img-fluid" alt=""></a>

                </figure>
                <div class="wrapper">
                    <small>Classroom</small>
                    <h3>Junior Secondary</h3>
                </div> 
            </div>
        </owl-carousel>
    </div>
</section>

