<div class="site">
  <header>
      <div class="header-wrap">
          <!-- <div id="logo">
              <a href="#">
                  <img src="assets/givitec.png" alt="">
                  <span>Givitec</span>
              </a>
          </div>
          <nav>
              <ul>
                  <li><a href="#">Home</a></li>
                  <li><a href="#">Service</a></li>
                  <li><a href="#">Portfolio</a></li>
                  <li><a href="#">About</a></li>
                  <li><a href="#">Hire Us</a></li>
              </ul>
          </nav> -->
          <nav class="navbar navbar-expand-md fixed-top scrolling-navbar bg-white">
              <div class="container">        
                      <a class="navbar-brand" routerLink="" >
                              <img src="assets/givitec.png" alt="">
                              <span>Givitec</span>
                      </a>
                <button class="navbar-toggler open" type="button" aria-label="Toggle navigation">
                  <i class="lni-menu"></i>
                </button>
                <div class="collapse navbar-collapse">
                  <ul class="navbar-nav mr-auto w-100 justify-content-end">
                    <li class="nav-item">
                      <a class="nav-link page-scroll" routerLink=""   data-href="#home">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link page-scroll" routerLink=""  data-href="#services">Services</a>
                    </li>  
                    <li class="nav-item">
                      <a class="nav-link page-scroll" routerLink="" data-href="#portfolio">Portfolio</a>
                    </li>                            
                    <li class="nav-item">
                      <a class="nav-link page-scroll" routerLink="" data-href="#about">About</a>
                    </li>  
                    <li class="nav-item">
                      <a class="btn page-scroll" data-href="#request" routerLink="request">Hire Us</a>
                    </li>  
                  </ul>              
                </div>
              </div>
            </nav> 
      
      </div>
      <div class="mobile-menu">
        <button class="navbar-toggler close">
            Close
            <i class="lni-menu"></i>
          </button>
          <div>
            <ul class="">
              <li class="mobile-item">
                <a class="mobile-link page-scroll" routerLink=""   data-href="#home">Home</a>
              </li>
              <li class="mobile-item">
                <a class="mobile-link page-scroll" routerLink=""  data-href="#services">Services</a>
              </li>  
              <li class="mobile-item">
                <a class="mobile-link page-scroll" routerLink="" data-href="#portfolio">Portfolio</a>
              </li>                            
              <li class="mobile-item">
                <a class="mobile-link page-scroll" routerLink="" data-href="#about">About</a>
              </li>  
              <li class="mobile-item">
                <a class="mobile-link page-scroll" routerLink="request">Hire Us</a>
              </li>  
            </ul>              
          </div>
      </div>
  </header>
  <main class="main">



<router-outlet></router-outlet>
<footer>
  <div class="container">
      <a id="top" class="page-scroll" data-href="#home">
          <div></div>
      </a>
      <div class="footer-items">
          <div class="row">
              <div class="col-md-2">
                  <h3>Pages</h3>
                  <ul>
                      <li><a routerLink="about" class="page-scroll" data-href="#about">About</a></li>
                      <li><a routerLink="services">Company</a></li>
                      <li><a href="#">Training</a></li>
                      <li><a routerLink="careers" class="page-scroll" data-href="#careers">Careers</a></li>
                      <li><a routerLink="jamb-registration" class="page-scroll" data-href="#services">Jamb Form</a></li>
                  </ul>
              </div>
              <div class="col-md-3">
                  <h3>Services</h3>
                  <ul>
                      <li><a routerLink="cbt" class="page-scroll" data-href="#services">CBT</a></li>
                      <li><a routerLink="networking" class="page-scroll" data-href="#services">Networking</a></li>
                      <li><a routerLink="web" class="page-scroll" data-href="#services">Web Design</a></li>
                      <li><a routerLink="mobile" class="page-scroll" data-href="#services">Mobile Design</a></li>
                      <li><a routerLink="graphics" class="page-scroll" data-href="#services">Graphics/Branding</a></li>
                  </ul>
              </div>
              <div class="col-md-4">
                  <h3>Affiliates</h3>
                  <ul>
                      <li><a href="#">Apex Tutorials</a></li>
                      <li><a href="#">Givitours</a></li>
                      <li><a href="#">Grace Pavilion Event Centre</a></li>
                      <li><a href="#">The Pedagogues Publishing</a></li>
                      <li><a href="#">The Pedagogues Educonsult</a></li>
                  </ul>
              </div>
              <div class="col-md-3 col-sm-3 col-xs-3">
                  <div class="row justify-content-center icon-display">
                      <div class="col-md-10">
                          <div class="footer-icon">
                              <div class="footer-icon-inner">
                                  <div class="row justify-content-start">
                                      <div class="col-md-6 col-sm-6">
                                          <div class="footer-btn"></div>
                                      </div>
                                      <div class="col-md-6 col-sm-6">
                                          <p>GIVITEC</p>                                
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="row sicons justify-content-center">
                      <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
                          <a href="">
                              <div class="sicon"><img src="assets/facebook.svg" alt=""></div>
                          </a>
                      </div>
                      <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
                          <a href="">
                              <div class="sicon"><img src="assets/twitter.svg" alt=""></div>
                          </a>
                      </div>
                      <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
                          <a href="">
                              <div class="sicon"><img src="assets/instagram.svg" alt=""></div>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <a href="#" style="padding-top: 10px">&copy; Copyright 2019. Givitec ltd All Right Reserved.</a>
  </div>
</footer>
</main>
</div>
<div id="loader">
<div class="spinner">
<div class="double-bounce1"></div>
<div class="double-bounce2"></div>
</div>
</div>