<section>             
	<div id="home">
		<div class="home-overlay"></div>
		<p class="home-text">
			GIVITEC digital product agency is dedicated to building cutting-edge
			website experiences and brand identities for forward-thinking companies. 
			We’re creativity driven by the synergy of design and technology.
		</p>
		<a routerLink="request" class="request btn">Request a Quote</a>
	</div>
</section>

<!-- services section-->
<section id="services" class="container">
<h2 class="text-right">What we do</h2>
<div class="row justify-content-center">
	<div class="col-md-4">
		<a class="page-scroll" data-href="#services" routerLink="web">
			<div class="service web item-boxes services-item wow fadeInDown" data-wow-delay="0.4s">
				<div class="content">
					<ul>
						<li>Front End</li>
						<li>CSS Development</li>
						<li>Web Apps</li>
					</ul>
				</div>
			</div>
			<h3 class="text-center">Web Design</h3>
		</a>
	</div>
	<div class="col-md-4">
		<a class="page-scroll" data-href="#services" routerLink="mobile">
			<div class="service mobile item-boxes services-item wow fadeInDown" data-wow-delay="0.4s">
				<div class="content">
					<ul>
						<li>Customised Mobile Apps</li>
						<li>E-commerce Apps</li>
						<li>Database Management</li>  
					</ul>
				</div>
			</div>
			<h3 class="text-center">Mobile App</h3>
		</a>
	</div>
	<div class="col-md-4">
		<a class="page-scroll" data-href="#services" routerLink="networking">
			<div class="service network item-boxes services-item wow fadeInDown" data-wow-delay="0.4s">
				<div class="content">
					<ul>
						<li>Computer Networking</li>
						<li>Firewall</li>
						<li>Computer Maintenance</li>  
					</ul>
				</div>
			</div>
			<h3 class="text-center">Networking</h3>
		</a>
	</div>
	<div class="col-md-4">
		<a class="page-scroll" data-href="#services" routerLink="cbt">
			<div class="service cbt item-boxes services-item wow fadeInDown" data-wow-delay="0.4s">
				<div class="content">
					<ul>
						<li>Computer Based Exams</li>
						<li>Computer Based Testing</li>
						<li>CBT Practice</li>  
					</ul>
				</div>
			</div>
			<h3 class="text-center">CBT</h3>
		</a>
	</div>
	<div class="col-md-4">
		<a class="page-scroll" data-href="#services" routerLink="graphics">
			<div class="service graphics item-boxes services-item wow fadeInDown" data-wow-delay="0.4s">
				<div class="content">
					<ul>
						<li>Logo and Branding</li>
						<li>UI/UX</li>
						<li></li>  
					</ul>
				</div>
			</div>
			<h3 class="text-center">Graphics/Branding</h3>
		</a>
	</div>
</div>
<!-- video -->
<div class="video">
	<a href="#video" data-toggle="modal" ><div class="play"></div></a>
</div>
</section>

<!-- Portfolio -->
<div id="portfolio">
<h2 class="container" >Our Works</h2>
<div class="work-slider">
	<div class="container-fluid">
			<owl-carousel id="reccomended" [options]="portfolioOptions" class="sliding owl-theme">
					<div class="item">
						<div class="box_grid">
								<a href="https://www.victoriaegbefoundation.org" target="_blank"><img  src="assets/work.jpg" class="img-fluid" alt="Victoria Egbe Foundation"></a>
						</div>
					</div>

					<!-- /item -->
					<div class="item">
						<div class="box_grid">
							<figure>
								<a href="https://www.ephraimseleedha.com"><img src="assets/work1.jpg" class="img-fluid" alt="Ephraim Website"></a>
								<div class="preloader">
										<div data-loader=""></div>
									</div>
							</figure>
	
						</div>
					</div>
					<div class="item">	
						<div class="box_grid">
							<figure>
								<a href="#"><img src="assets/work2.jpg" class="img-fluid" alt="BMC"></a>
									<div class="preloader">
										<div data-loader=""></div>
									</div>
							</figure>
						</div>
					</div>
					<div class="item">	
						<div class="box_grid">
							<figure>
								<a href="#"><img src="assets/work.svg" class="img-fluid" alt="Givitec"></a>
									<div class="preloader">
										<div data-loader=""></div>
									</div>
							</figure>
						</div>
					</div>
			</owl-carousel>
	</div>
</div>
<div id="hand" class="hand"></div>
<h3 class="text-center">Swipe left to view more</h3>
</div>

<!-- About -->
<section  id="about">
<div class="container">
	<div class="row justify-content-center">
		<div class="col-md-6">
			<h2>About</h2>
			<p>
				GIVITEC LTD is a youth-led Nigeria IT services and electronics installations
				company.
			</p>
			<p>
				The company also has a Vocational Training Institute, a JAMB-accredited
				CBT Centre and Event Centre within its owned building complex in central 
				Benin City. 
				GIVITEC LTD is the business arm of GIMOX INSTITUTE FOR VOCATIONS
				AND INFORMATION TECHNOLOGY also known as GIVITEC INSTITUTE which was 
				established on October 8, 2017 in Benin City. 
			</p>
			<a routerLink="about" class="page-scroll" data-href="#about">Read more</a>
		</div>
		<div class="col-md-6">
				<img class="img-fluid" src="assets/about.svg" alt="Givitec Team">
		</div>
	</div>
</div>
</section>

<!-- Contact -->
<section id="contact" >
<div class="container">
	<div class="contact-items">
		<div class="row">
			<div class="col-md-4">
					<h2 style="display: inline;">Contact Us</h2>
			</div>
			<div class="col-md-8">
					<span>Send us a mail at <a href=""><i><b>info@givitec.com</b></i></a> or call us on <i><b>+234 807 943 6049</b></i></span>
			</div>
		</div>
		<div class="row justify-content-end">
			<div class="col-md-4">
					<h3>Head Office</h3>
					<p>
						GIVITEC LTD, GIVITEC Complex, 
						192 M.M. Way/3rd East Circular Road,
						Benin City, Edo State.
						Nigeria
					</p>
			</div>
			<div class="col-md-4">
				<h3>Lagos</h3>
				<p>
					Cash and Carry Building,
					222 Ahmadu Bello Way,
					Victoria Island,
					Lagos State,
					Nigeria
				</p>
			</div>
		</div>
		<div class="row justify-content-start">
			<div class="dotted-out col-md-4">
				<div class="dotted"></div>
			</div>
				<div class="col-md-4">
						<h3>Germany</h3>
						<p>
							GIVITEC UG, Ems Str. 12,
							38120 Braunshweig, Germany.
						</p>
				</div>
			</div>
	</div>
</div>
</section>

<!-- clients -->
<section id="client">
<div class="container">
	<h2 class="text-right">Clients</h2>
	<owl-carousel id="recomended" [options]="clientOptions" class="sliding owl-theme">
			<div class="item">
				<div class="box_grid">
						<a href="#">
							<div class="client" style="background-image:url('assets/jamb.png')"></div>
						</a>
				</div>
			</div>

			<!-- /item -->
			<div class="item">
				<div class="box_grid">
					<a href="#">
						<div class="client" style="background-image:url('assets/jasmot.jpeg')"></div>
					</a>
				</div>
			</div>
			<div class="item">	
				<div class="box_grid">
					<a href="#">
						<div class="client" style="background-image:url('assets/dukeroyal.jpg')"></div>
					</a>
				</div>
			</div>
			<div class="item">	
				<div class="box_grid">
					<a href="#">
						<div class="client" style="background-image:url('assets/agbaka.png')"></div>
					</a>
				</div>
			</div>
			<div class="item">	
				<div class="box_grid">
					<a href="#">
						<div class="client" style="background-image:url('assets/wepromote.png')"></div>
					</a>
				</div>
			</div>
	</owl-carousel>
</div>
</section>
<section id="clients" class="happy-clients">
<div class="row justify-content-center happy-clients-items">
	<div class="col-md-2">
		<p class="text-center">Happy Clients</p>
		<p class="text-center"><strong id="happy">100+</strong></p>
	</div>
	<div class="col-md-2">
		<p class="text-center">Completed Projects</p>
		<p class="text-center"><strong id="complete">60+</strong></p>
	</div>
	<div class="col-md-2">
		<p class="text-center">Projects Running</p>
		<p class="text-center"><strong id="running">100+</strong></p>
	</div>
</div>

<!-- Modal -->
<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="video" class="modal fade">
		<div class="modal-dialog">
			<div  class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">
					<iframe width="100%" height="400" src="https://www.youtube.com/embed/nSt-QiVFzfI" responsivewidth frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
				<div class="modal-footer">
				</div>
			</div>
		</div>
	</div>
	<!-- modal -->
</section>